.picture-container{
    width: 30%;
}

.picture{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 20px;
    object-fit: cover;
    height: 200px;
    width: 100%;
  }
  .picture:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in;
    cursor: pointer;
}